<div class="container">
<h2>Forgot Password</h2>

<form [formGroup]="forgotPasswordForm">

    <div class="form-group">
        <label>Email ID</label>
        <input formControlName="email" [class.is-invalid]= "email.invalid && email.touched" type="email" class="form-control" >
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email ID is required</small>
    </div>

    <div class="form-group">
        <label>Old Password</label>
        <input formControlName="password" [class.is-invalid]="password.invalid && password.touched" type="password"
            class="form-control">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Old Password is required</small>
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input formControlName="newPassword" [class.is-invalid]="newPassword.invalid && newPassword.touched" type="password"
            class="form-control">
        <small class="text-danger" [class.d-none]="newPassword.valid || newPassword.untouched">New Password is required</small>
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input formControlName="confirmPassword" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" type="password"
            class="form-control">
        <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched">Confirm Password is required</small>
    </div>

    <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary" type="submit">Reset</button> &nbsp;&nbsp;&nbsp;

</form>